.user .content-header {
    margin-bottom: 20px;
}

.user .dropdown-menu {
    padding: 0px;
}

.user .dropdown-menu .divider {
    margin: 0px;
}

.user .content-header .h2 {
    margin-top: 0px;
}

.user-tabs a[role="tab"] {
    outline-style: none;
}

.user-header {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.user-header .img-polaroid {
    position: absolute;
    bottom: -20px;
    left: 20px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    z-index: 900;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.user-header .user-bg-box {
    position: relative;
    height: 120px;
    overflow: hidden;
}

.user-header .user-bg-box .user-bg {
    overflow: hidden;
    position: absolute;
    top: -300%;
    left: 0;
    width: 100%;
    -webkit-filter: blur(50px);
    opacity: .5;
}

.user-header .user-bg-box .box-content {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
    z-index: 100%;
    overflow: hidden;
}

.user-header .user-bg-box .box-content .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.user-header .user-bg-box .box-content .login-count {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 11px;
}

.user-header .user-bg-box .box-content .lined-text {
    font-size: 11px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 2px;
}

.user-header .user-bg-box .box-content .username-area {
    position: absolute;
    left: 120px;
    bottom: 5px;
}

.user-header .user-bg-box .box-content .username-area h4 {
    font-weight: 200;
    font-size: 34px;
    margin: 0;
}

.user-header .user-bg-box .box-content .username-area .name {
    margin-right: 10px;
}

.user-header .user-bg-box .box-content .username-area .user-label {
    color: #000;
    font-size: 10px;
    font-weight: normal;
    text-transform: lowercase;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    position: relative;
    bottom: 5px;
}

.createUserButton {
    display: none;
}

.userTableContent a {
    margin-top: -50px;
}

.custom_field input, .custom_field select, .Select--multi {
    width: 71%;
    float: right;
    margin-right: 10%;
}

.custom_field label {
    width: 15%;
    text-align: right;
    padding-top: 12px;
}

.repeat_password label {
    padding-top: 4px;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
    padding-left: 20px;
    padding-top: 5px;
}

.Select-control {
    height: 45px !important;
}

.Select-multi-value-wrapper {
    padding-top: 1px;
}

.Select-value {
    height: 30px;
}

.Select-value-icon, .Select-value-value {
    height: 100%;
}

.Select--multi .Select-value-icon {
    padding: 6px 5px 3px;
}

.Select-arrow-zone {
    padding-right: 0px;
    width: 20px;
}

.Select-input {
    margin-top: 4px;
}

.Select-arrow {
    border-top-color: #505050;
    border-width: 6px 3.5px 1.5px;
}

.Select-menu {
    max-height: 150px;
}

.modal .modal-dialog .modal-body {
    overflow-y: visible;
}

button.new {
    margin-top: 28px;
}
